<section class="panel">
  <h2 class="panel-title panel-title-row">
    <span>Backgrounds</span>
    <div class="panel-actions">
      <button id="btnBackgroundDetails" class="btn-view">👁 Backgrounds</button>
    </div>
  </h2>

  <div class="field">
    <label for="bgSourceSelect">Fonte</label>
    <select id="bgSourceSelect"></select>
  </div>

  <div class="field">
    <label for="bgSelect">Background</label>
    <select id="bgSelect"></select>
  </div>

  <div id="backgroundInfo" class="class-info"></div>
</section>
