<section class="panel">
  <h2 class="panel-title panel-title-row">
    <span>Races</span>
    <div class="panel-actions">
      <button id="btnRaceDetails" class="btn-view">👁 Races</button>
    </div>
  </h2>

  <div class="field">
    <label for="raceSourceSelect">Fonte</label>
    <select id="raceSourceSelect"></select>
  </div>

  <div class="field">
    <label for="raceSelect">Raça</label>
    <select id="raceSelect"></select>
  </div>

  <div class="field">
    <label for="subRaceSelect">Sub-raça</label>
    <select id="subRaceSelect"></select>
  </div>

  <div id="raceInfo" class="class-info"></div>
</section>
